----------------------------------------------------------------
 File:         project.config
 Description:  Project configuration file
----------------------------------------------------------------

---Project name and the rtl top module(s)
[*] project = axi_seg7
[*] rtl_top = axi_seg7_top

---Project features
[*] rtl_linter = spyglass
[*] rtl_synth_tools = yosys
[*] sim_tool = iverilog

---Specify the RTL synthesis tool configuration
[*] rtl_synth_uses_clk = yes
[*] rtl_synth_clk_src = axi_aclk_i
[*] rtl_synth_yosys_target = ice40
[*] rtl_synth_yosys_device = hx8k
[*] rtl_synth_yosys_clk_mhz = 100
[*] rtl_synth_yosys_pnr_tool = nextpnr

---Specify the simulation tool configuration
[*] sim_modules =
[*] sim_create_vcd = yes
[*] sim_open_wave = no
